@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Buhid&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Noto+Sans+Buhid&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.main{
}

.containerr{
    background-color: aliceblue;
    min-height: 530px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left : 50px;
    
}
.items:first-child{
}
.items{

    min-width: 280px;
    align-items:flex-start;
    margin-bottom: 25px;
}

.row{
    
    margin: 2.5rem 0 1rem 0;
    justify-content: center;
    color: brown;

}

button{
    padding: 10px 32px 10px 32px;
    border-radius: 0.3rem;
    color:white;
}
#approve{
    margin-right: 48px;
    background-color:    #007bff;
    border: 0.2px solid #0263ca;
}
#approve:hover{
    background-color: #0069d9;;
    border-color: #0062cc;
    
}
#reject, #cancel{
    background-color: rgb(255, 49, 49);
    border: 0.2px solid rgba(219, 7, 7, 0.72);
}

#reject:hover{
    background-color: rgb(255, 36, 0);
    border-color:rgb(155, 26, 7);
}


#edit, #update,#add,#upload{
    margin-right: 48px;
    background-color:    #007bff;
    border: 0.2px solid #0263ca;
}
#edit:hover, #update:hover,#add:hover,#upload:hover{
    background-color: #0069d9;;
    border-color: #0062cc;
    
}
#delete{
    background-color: rgb(255, 49, 49);
    border: 0.2px solid rgba(219, 7, 7, 0.72);
}

#delete:hover{
    background-color: rgb(255, 36, 0);
    border-color:rgb(155, 26, 7);
}


/* Text */

h3{
    margin-bottom: 8px;
    font-family: 'Amaranth', sans-serif;
}

p{
    font-family: 'Noto Sans Buhid', sans-serif;
}
.img{
    width: 280px;
    margin: 1.2rem 0 1.1rem 0;
}
#candidate_img{
    border-radius: 18.7%;
}

#message{
    color: rgb(235, 211, 211);
    text-align: center;
    background-color: #2e3e4e;
    margin: 0px;
    padding : 12px 0 14px 0;
}